.login-button button {
    width: 100%;
}

:host ::ng-deep .p-password-input {
    min-width: 320px;
}

:host ::ng-deep .p-card-header {
    justify-content: center;
    align-items: center !important;
    display: flex;
}

:host ::ng-deep .p-card-title {
    justify-content: center;
    align-items: center !important;
    display: flex;
}