<div class="flex flex-column container">
    <div class="flex-1 flex align-items-center justify-content-center "></div>
    <div class="flex-1 flex align-items-center justify-content-center">   
        <p-card header="TableDino" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/dino.png" [style]="{ maxHeight: '100px', maxWidth: '100px'}"/>
            </ng-template>
            
            <div class="flex flex-column gap-2">
                <label htmlFor="username">Username</label>
                <input pInputText id="username" aria-describedby="username-help" required [(ngModel)]="email" />
            </div>
            <div class="flex flex-column gap-2">
                <label htmlFor="password">Password</label>
                <p-password [(ngModel)]="password" [feedback]="false"></p-password>
            </div>
            <ng-template pTemplate="footer">
                <p-button 
                    label="Login" 
                    styleClass="p-button-lg cursor-pointer" 
                    required 
                    [style]="{'width':'100%'}"
                    (click)="handleLogin()"
                >
                </p-button> 
                <br><br>
            </ng-template>
        </p-card>
    </div>
    <div class="flex-1 flex align-items-center justify-content-center "></div>
</div>