<app-header></app-header>
<div class="container">
    <div class="options"  *ngIf="screenWidth > 400">
        <p-button label="Add Table" icon="pi pi-plus" styleClass="cursor-pointer" (click)="toggleNewTableDialog()" ></p-button>
    </div>
    <div>
        <div *ngIf="isLoading" class="spinner-center">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <div class="empty-message" *ngIf="noTables && !isLoading">
            <h3>No tables registered!</h3>
        </div>
        <div class="table-list flex flex-wrap" *ngIf="!isLoading">
            <div *ngFor="let table of tables" class="table-card flex align-items-center ml-5 mt-5">
                <p-card class="md:min-w-min" [ngClass]="{'small-screen-card': screenWidth < 400 }">
                    <ng-template pTemplate="header">
                        <p-badge value="Table {{ table.Number }} {{ table.Status }}" size="xlarge" severity="success"  class="flex align-items-center justify-content-center table-status" *ngIf="table.Status == 'Free'"></p-badge>
                        <p-badge value="Table {{ table.Number }} {{ table.Status }}" size="xlarge" severity="danger"  class="flex align-items-center justify-content-center table-status" *ngIf="table.Status == 'Occupied'"></p-badge>
                        <p-badge value="Table {{ table.Number }} {{ table.Status }}" size="xlarge" severity="info"  class="flex align-items-center justify-content-center table-status" *ngIf="table.Status == 'Reserved'"></p-badge>
                    </ng-template>
                    Capacity: {{ table.Capacity }}
                    <ng-template pTemplate="footer">
                        <p-button icon="pi pi-tag" label="Status" class="option-buttons" (click)="toggleStatusDialog( table )"></p-button>
                        <p-button icon="pi pi-check-square" label="Order" class="option-buttons"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
</div>

<!-- new table dialog -->
<p-dialog header="Add new Table" [(visible)]="displayNewTableDialog" [style]="{width: '23rem'}">
    
    <div *ngIf="!isLoadingNewTable">
        <div class="flex flex-column gap-2">
            <label htmlFor="tableNumber">Table Number</label>
            <input 
                pInputText 
                id="newTableNumber" 
                aria-describedby="newTable-help" 
                [(ngModel)]="newTable.Number" 
            />
        </div>
        <div class="flex flex-column gap-2">
            <label htmlFor="tableCapacity">Table Capacity</label>
            <input 
                pInputText 
                id="newTableCapacity" 
                aria-describedby="newTable-help" 
                [(ngModel)]="newTable.Capacity"
            />
        </div>
    </div>
    <div *ngIf="isLoadingNewTable" class="spinner-center">
        <app-loading-spinner></app-loading-spinner>
    </div>

    

    <ng-template pTemplate="footer">
        <p-button 
            icon="pi pi-check" 
            (click)="handleNewTable()" 
            label="Finish" 
            styleClass="p-button-text cursor-pointer"
        ></p-button>
        <p-button 
            (click)="toggleNewTableDialog()" 
            label="Cancel" 
            styleClass="p-button-text p-button-danger cursor-pointer"
        ></p-button>
    </ng-template>
</p-dialog>

<!-- Status table dialog -->
<p-dialog header="Change Status for Table {{ editStatusTable.Number }}" [(visible)]="displayStatusDialog" [style]="{width: '23rem'}">
    
    <div class="card flex justify-content-center">
        <div class="flex flex-column gap-3">
            <div class="field-checkbox">
                <p-radioButton name="status" value="Free" [(ngModel)]="editStatusTable.Status" inputId="status-free"></p-radioButton>
                <label for="status-free" class="ml-2">Free</label>
            </div>
            <div class="field-checkbox">
                <p-radioButton name="status" value="Occupied" [(ngModel)]="editStatusTable.Status" inputId="status-occupied"></p-radioButton>
                <label for="status-occupied" class="ml-2">Occupied</label>
            </div> 
            <div class="field-checkbox">
                <p-radioButton name="status" value="Reserved" [(ngModel)]="editStatusTable.Status" inputId="status-reserved"></p-radioButton>
                <label for="status-reserved" class="ml-2">Reserved</label>
            </div>
        </div>
    </div>
    


    <ng-template pTemplate="footer">
        <p-button 
            icon="pi pi-check" 
            (click)="saveStatusTable()" 
            label="Save" 
            styleClass="p-button-text cursor-pointer"
        ></p-button>
        <p-button 
            (click)="toggleStatusDialog()" 
            label="Cancel" 
            styleClass="p-button-text p-button-danger cursor-pointer"
        ></p-button>
    </ng-template>
</p-dialog>

<!-- Order table dialog -->

<p-toast></p-toast>
