.container {
    padding: 1rem;
}

.options {
    display: flex;
}

.table-container {
    display: flex;
}

.table-list {
    margin-top: 1rem;
}

.table-status {
    padding-top: 1rem;
}

.small-screen-card {
    width: 19rem;
    margin-left: -1rem;
}

.empty-message {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-buttons + .option-buttons {
    margin: 1rem;
}